$color-darkBlue: #1C4683;
$color-lightBlue: #3281F6;
$color-white: #FFFFFF;
$color-red: #F81313;
$color-black: #0E0E0E;

$font-irish: 'Irish Grover', cursive;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }